@import url(./fonts.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body{
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.section{
    background-color: white;
    position: relative;
}

.container_big{
    width: 1366px;
    margin: 0 auto;
    /*padding: 0 0 100px 0;*/
}

.navigation{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

.logo{
    padding-left: 30px;
}

.logo img{
    width: 65%;
}

.text_nav{
    width: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text_nav a{
    font-family: 'Mon';
    font-size: 0.938rem;
    font-weight: 400;
    color: #C32BAD;
    border: 1px solid rgba(195, 43, 173, 0);
    border-radius: 18px;
    padding: 5px 15px;
    transition: 0.2s;
}

.text_nav a:hover{
    border: 1px solid #C32BAD;
    border-radius: 18px;
    transition: 0.2s;
}

.block_zona{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 30px;
}

.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*position: relative;*/

}

.zagolovok{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}

.zagol {
    width: 70%;
    font-family: 'Mon';
    font-weight: 700;
    font-size: 2.5rem;
    background-image: linear-gradient(to right, #04a43a, #c2d237, #00BB3F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blue_block{
    width: 70%;
    background-color: rgba(141, 217, 229, 0.22);
    border-radius: 56px;
    padding: 20px 22px;
    margin: 20px 0;
}

.big{
    width: 70%;
    text-align: center;
    font-family: 'Mon';
    font-weight: 500;
    color: #F56FAD;
    font-size: 1.25rem;
    margin: 20px 0;
}

.photo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.photo img{
    width: 70%;
    border-radius: 14px;
}

.buttons{
    flex-direction: column;
    margin-bottom: 50px;
}

.button{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 136px;
    margin-top: 50px;
}

.button p{
    font-family: 'Mon';
    font-weight: 700;
    color: white;
    font-size: 1.438rem;
}

.num{
    background-color: #1DB9C3;
    padding: 13px 23px;
    border-radius: 50%;
    transition: 0.2s;
}

.num:hover{
    background-color: #1b7077;
    transition: 0.2s;
}

.name_zona p{
    color: #1DB9C3;
    padding-left: 20px;
}

.button_blue{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_bron{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(255, 174, 241, 0.57);
    background-color: #E014C3;
    padding: 10px 100px;
    border-radius: 50px;
    transition: 0.2s;
}

.button_bron:hover{
    background-color: #880d77;
    transition: 0.2s;
}

.button_bron p{
    font-family: 'Mon';
    font-weight: 700;
    font-size: 1.25rem;
    color: white;
}
.section_grey2{
    background-color: #9B9A9A;
}

.small{
    /*width: 20%;*/
    font-family: 'Mon';
    font-size: 0.875rem;
    font-weight: 500;
    color: #7027A0;
}

.section_grey2 .container_big{
    padding-bottom: 0;
}

.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}

.footer{
    width: 100%;
    display: flex;
}

.big_block{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.big_block p{
    color: white;
    font-size: 0.875rem;
}

.text_6{
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.text_6 p{
    padding-bottom: 10px;
}