@import url(./fonts.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body{
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.section{
    background-color: white;
}

.container_big{
    width: 1366px;
    margin: 0 auto;
    /*padding: 0 0 100px 0;*/
}

.navigation{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

.logo{
    padding-left: 30px;
}

.logo img{
    width: 65%;
}

.text_nav{
    width: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text_nav a{
    font-family: 'Mon';
    font-size: 0.938rem;
    font-weight: 400;
    color: #C32BAD;
    border: 1px solid rgba(195, 43, 173, 0);
    border-radius: 18px;
    padding: 5px 15px;
    transition: 0.2s;
}

.text_nav a:hover{
    border: 1px solid #C32BAD;
    border-radius: 18px;
    transition: 0.2s;
}

.section_img{
    background-image: url(../img/shariki.png);
    background-size: cover;
    /*padding: 100px;*/
}

.block_main{
    width: 100%;
    flex-direction: column;
    margin-bottom: 100px;
}

.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 190px;
    position: relative;

}

.zagolovok{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

.zagol{
    font-family: 'Mon';
    font-weight: 700;
    font-size: 4.063rem;
    background-image: linear-gradient(to right, #ff8a24, #dc1586);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.biggest{
    text-align: center;
    font-family: 'Mon';
    font-size: 1.563rem;
    font-weight: 400;
    color: #E567AE;
    padding-bottom: 10px;
}

.opis{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.opis p{
    font-family: 'Mon';
    font-size: 1.25rem;
    font-weight: 400;
    color: white;
}

.opis2{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

}

.opis2 p{
    width: 100%;
    font-family: 'Mon';
    font-size: 1.25rem;
    font-weight: 400;
    color: white;

}

.block_comment{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.comments{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.com{
    display: flex;
    justify-content: center;
    align-items: center;
}

.com .info{
    width: 80%;
    align-items: start;
    border: 2px solid #1DB9C3;
    border-radius: 50px;
    box-shadow: 0px 14px 28px -1px #1DB9C3;
    padding: 20px 30px;
    transition: 0.2s;
}

.com .info:hover{
    transform: scale(1.2);
    transition: 0.2s;
}

.name_com{
    display: flex;
}

.big{
    font-family: 'Mon';
    font-size: 1rem;
    font-weight: 700;
    color: #7027A0;
    padding-left: 10px;
}

.small{
    /*width: 20%;*/
    font-family: 'Mon';
    font-size: 0.875rem;
    font-weight: 500;
    color: #7027A0;
}

.section_sky{
    background-size: cover;
    background-image: url(../img/sky.png);
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.block_infografica{
    width: 100%;
    flex-direction: column;
}

.block_infografica .info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
}

.block_infografica .zagolovok{
    width: 100%;
    padding-top: 200px;
}

.block_infografica .zagol{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(to right, #4FD1EA, #C681FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.block_infografica .info p{
    width: 44%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #0C9FA8;

}

.zagolovok_small{
    width: 91%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.zagol_small{
    width: 50%;
    text-align: center;
    font-family: 'Mon';
    font-weight: 700;
    font-size: 2.5rem;
    color: #7027A0;
}

.infogr{
    width: 100%;
}

.numbers{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.num{
    width: 31%;
    display: flex;
    background-color: #C681FF;
    border-radius: 100px;
    padding: 15px 17px;
    margin-bottom: 20px;
    transition: 0.2s;
}

.num:hover{
    transform: scale(1.2);
    transition: 0.2s;
}

.num .zagolovok_small{
    width: 23%;
    background-color: white;
    border-radius: 50%;
    padding: 0;
}

.num .opis{
    width: 69%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 10px;
}

.num .opis p{
    padding-top: 15px;
    color: white;
}

.blue{
    background-color: #4FD1EA;
}

.blue .zagolovok_small{
    width: 23%;
    padding: 20px;
}

.block_bron{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.big_block{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.big_block .zagol_small{
    width: 100%;
    color: #F56FAD;
}

.blue_block{
    width: 70%;
    background-color: rgba(141, 217, 229, 0.22);
    border-radius: 56px;
    padding: 20px 22px;
    margin-bottom: 20px;
}

.reg, .date, .col{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.print{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.print .big{
    text-align: center;
    padding-bottom: 10px;
    color: black;
    font-weight: 400;
}

input{
    width: 100%;
    color: grey;
    border: 1px solid #1DB9C3;
    background-color: white;
    padding: 10px 90px;
    border-radius: 20px;
    text-align: center;
}

select{
    width: 100%;
    color: grey;
    border: 1px solid #1DB9C3;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.reg .small{
    color: #9B9A9A;
}

.button_blue{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_poisk{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1DB9C3;
    background-color: #1DB9C3;
    padding: 10px 100px;
    border-radius: 50px;
    transition: 0.2s;
}

.button_poisk:hover{
    background-color: #1b7077;
    transition: 0.2s;
}

.button_poisk p{
    font-family: 'Mon';
    font-weight: 700;
    font-size: 1.25rem;
    color: white;
}

.block_akcii{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.akcii{
    width: 100%;
}

.akcii .zagol_small{
    color: #F56FAD;
}

.akcii .zagolovok_small{
    width: 100%;
}

.blocks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block1{
    width: 70%;
    flex-direction: column;
    background-color: rgba(141, 217, 229, 0.22);
    border-radius: 56px;
    padding: 20px 22px;
    margin-bottom: 20px;
}

.p1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.block1 .zagol_small{
    width: 70%;
    color: #C32BAD;
    border: 5px solid #C32BAD;
    background-color: white;
    border-radius: 80px;
    padding: 8px;
    margin-bottom: 10px;
}

.block1 .zagolovok_small{
    width: 100%;
}

.text_p1{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    padding: 0 20px;
}

.text_p1 .big{
    padding-left: 0;
    padding-bottom: 10px;
}

.text_p1 .small{
    color: #C32BAD;
    padding-left: 0;
    padding-bottom: 10px;
}

.photo{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo img{
    width: 90%;
    border-radius: 14px;
}

.p1 .button_blue{
    justify-content: flex-start;
}

.container_yel{
    width: 100%;
    background-size: cover;
    background-image: url(../img/yellow.png);
    padding-bottom: 50px;
    /*margin-bottom: 100px;*/
}

.block_zakrut{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block_zakrut .big_block{
    width: 100%;
    padding-top: 150px;
}

.section_grey2{
    background-color: #9B9A9A;
}

.section_grey2 .container_big{
    padding-bottom: 0;
}

.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}

.block{
    width: 100%;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.footer{
    width: 100%;
    display: flex;
}

.block{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.block p{
    color: white;
}

.text_6{
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.text_6 p{
    padding-bottom: 10px;
}

@media screen and (max-width: 480px){
    .container_big{
        width: 100%;
    }

    .section_img{
        background-position-x: -282px;
        background-size: cover;
        background-position-y: 2px;
        background-repeat: no-repeat;
    }

    .section_sky{
        background-position-x: -282px;
        background-size: cover;
        background-position-y: 2px;
        background-repeat: no-repeat;
    }

    .container_yel{
        background-position-x: -213px;
        background-size: cover;
        background-position-y: 2px;
        background-repeat: no-repeat;
    }

    .navigation{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text_nav{
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .zagol{
        font-size: 3.063rem;
    }

    .info{
        padding: 80px;
    }

    .comments{
        width: 100%;
        flex-direction: column;
    }

    .com{
        display: flex;
        justify-content: center;
        align-items: start;
        padding-bottom: 30px;
    }

    .block_infografica .info p{
        width: 78%;
    }

    .zagolovok_small{
        width: 100%;
    }

    .zagol_small{
        width: 100%;
        font-size: 1.8rem;
    }

    .num{
        width: 80%;
    }

    .blue_block{
        width: 90%;
    }

    .reg, .date, .col{
        width: 90%;
    }

    .blocks{
        width: 100%;
    }

    .block1{
        width: 90%;
    }

    .p1{
        flex-direction: column;
    }

    .text_p1{
        width: 100%;
    }

    .p1 .button_blue{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
    }

    .photo{
        width: 100%;
        padding-bottom: 30px;
    }

    .block1 .zagol_small{
        width: 100%;
    }

    .footer .small{
        font-size: 0.625rem;
    }

    .text_6{
        width: 35%;
    }

}